        <!-- <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong> You should check in on some of those fields below.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="spinner-border text-info" role="status">
            <span class="visually-hidden">Loading...</span>
        </div> -->

<div class="contenedor">
    <form [formGroup]="form" (ngSubmit)="sendmsg()" class="form">
        <div class="cuadrostxt">
            <div class="divImg">
                <img src="" alt="imagen">
            </div>
            <input email class="input" formControlName="usuario" placeholder="Usuario" type="text">
            <input class="input" formControlName="password" placeholder="Contraseña" type="text">
            <button class="btn btn-primary botonlogin">Login</button>
        </div>
        
    </form>
</div>
